.Block{
	float: left;
	margin: 20px 10px;;
}

table {
    width: 100%;
    margin: 0px auto;
    border: solid 2px #735A73;
    border-collapse: collapse;
	 border-bottom: 0;
	 
}

table td{
	border:solid 2px #735A73;
	border-collapse: collapse;
	text-align: left;
	padding: 5px 5px;
	
}

table th{
	border:solid 2px #735A73;
	border-collapse: collapse;
	text-align: left;
	padding: 5px 5px;
	
}
.PopUpBox{
	position: fixed;
	left: 0; 
	top: 0;
	bottom: 0;
	width: 100%;
	background-color: rgba(224,224,224,0.3);
}

.PopUp{
	background: white;
	width: 240px;
	margin: 0 auto;
	line-height: 2;
	margin-top:250px; 
	border: solid 2px #167ec9;
	padding: 5px;
	height: 100px;
	border-radius: 10px;
	text-align: center;
}
#templateSelect{
	display: inline-block;
	height: 60px;
	border-radius: 10px;
	margin-top: 20px;
}

@media (max-width:304px) {
	#templateSelect{
		margin-bottom: 8px;
		height: 85px;
		padding-top: 5px;
		
	}
}

@media (max-width:283px) {
	#templateSelect{
		width: 220px;
	}
}

@media (max-width:230px) {
	#templateSelect{
		width: 193px;
	}
}
