.UserTable {
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    color: #513654;
    box-sizing: border-box;
	padding:25px;
	overflow:hidden;
}
#scroll{
	width: 100%;
    height: 80%;
	
	
}
.table {
    width: 100%;
    margin: 0px auto;
    border: solid 2px #504b4b;
    border-collapse: collapse;
	 border-bottom: 0;
	 
}

.table td{
	border:solid 2px #504b4b;
	border-collapse: collapse;
	text-align: left;
	padding-left: 5px;
	
}

#checkbox{
	text-align: center;
}
.table th{
	border:solid 2px #504b4b;
	border-collapse: collapse;
	text-align: center;
	
}
.tableheader{
	width: 100%;
	text-align: center;
	color: white;
}
.addtablerow{
	width: 100%;
}
.editbutton{
	-webkit-box-shadow:inset 0px 0px 15px 3px #23395e;
	box-shadow:inset 0px 0px 15px 3px #23395e;
	background-color:#2e466e;
	-moz-border-radius:17px;
	-webkit-border-radius:17px;
	border-radius:17px;
	border:1px solid #1f2f47;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:0 6px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
	outline: none;
}
.deleteBtn{
	background-color:red;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:15px;
	padding:10px 15px;
	text-decoration:none;
	outline:none;
	margin: 10px 5px;
}
.savebutton{
	border-radius: 5px;
	background: blue;
	color:white;
	margin: 10px 5px;
}
#sendBtn{
	background-color:#1abd11;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:15px;
	padding:10px 15px;
	text-decoration:none;
	outline:none;
	margin: 10px 5px;
}
#sendBtn:disabled{
 background: #666467;
}
#deleteBtn:disabled{
 background:#666467;
}
#theader{
	height: 30px;
    color: #666467;
    text-align: center;
    font-size: 2.5em;
    padding: 10px;
}

.AddRow{
	display:inline-block;
    margin-top: 10px;
}

.btn_table{
	padding: 10px;
    color: #fff;
    background-color: #009688;
    border-radius: .1rem;
	border: 0px solid transparent;
    transition: .5s;
    cursor: pointer;
	box-shadow: 0 0px 0px 0 rgba(56,38,0,1);
}


.btn_table:hover{
	 background-color: #735a73; 
}

.send_mail{
	padding: 6px;
	color: #fff;
    background-color: #009688;
    border-radius: .1rem;
	border: 0px solid transparent;
    transition: .5s;
    cursor: pointer;
	box-shadow: 0 0px 0px 0 rgba(56,38,0,1);
}

.send_mail:hover{
	 background-color: #735a73; 
}



	
	@media (max-width:866px) {

	.UserTable{
		width:100%;
	}
	
}

@media (max-width:733px) {
	
	#scroll{
		overflow:scroll;
	}

}

@media (max-width:468px) {
#theader{
	height: 30px;
    color: #666467;
    text-align: center;
    font-size: 1.5em;
   
}


}