.loading{
	width: 100%;
	height: 100%;
}
.loadingtext{
	width: 110px;
	height: 30px;
	margin: 250px auto;
	font-family: Arilal;
	font-size: 25px;
}
.UserTable {
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    color: #513654;
    box-sizing: border-box;
	padding:25px;
	overflow:hidden; 
}
#scroll{
	width: 100%;
    height: 450px;
	overflow-y:scroll;
	
}

.table {
    width: 100%;
    margin: 0px auto;
    border: solid 2px #504b4b;
    border-collapse: collapse;
	 border-bottom: 0;
	 
}

.table td{
	border:solid 2px #504b4b;
	border-collapse: collapse;
	text-align: left;
	padding-left: 5px;
	
}

#checkbox{
	text-align: center;
}
.table th{
	border:solid 2px #504b4b;
	border-collapse: collapse;
	text-align: center;
	
}
.tableheader{
	width: 100%;
	text-align: center;
	color: white;
}
.addtablerow{
	width: 100%;
}
#pencil{
	padding-left: 25px;
}
.deleteBtn{
	background-color:red;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:15px;
	padding:10px 15px;
	text-decoration:none;
	outline:none;
	margin: 10px 5px;
}
.savebutton{
	border-radius: 5px;
	background: blue;
	color:white;
	margin: 10px 5px;
}
#sendBtn{
	background-color:#1abd11;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:15px;
	padding:10px 15px;
	text-decoration:none;
	outline:none;
	margin: 7px 5px;
}

#Upload_btn{
	background-color: goldenrod;
}

#formUploadFile{
	display: inline-block;
}
#maillist{
	display: inline-block;
	border: solid 2px #167ec9;
	padding: 5px;
	height: 60px;
	border-radius: 10px;
}
.uploadCSV{
	width: 200px;
	margin: 20px auto;
}
#templateSelectBox{
	display: inline-block;
	border: solid 2px #167ec9;
	height: 60px;
	border-radius: 10px;
}
#createMailListBtn{
	background-color:#1abd11;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:15px;
	padding:10px 15px;
	text-decoration:none;
	outline:none;
	
}
#addBtn{
	background-color:#167EC9;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:15px;
	padding:10px 15px;
	text-decoration:none;
	outline:none;
	margin: 10px 5px;
}
#sendBtn:disabled{
 background: #666467;
}
#deleteBtn:disabled{
 background:#666467;
}
#createMailListBtn:disabled{
	background:#666467;
}


.See_Contacts {
   border: 2px solid #0a3c59;
   background: #3e779d;
   background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
   background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
   background: -moz-linear-gradient(top, #65a9d7, #3e779d);
   background: -ms-linear-gradient(top, #65a9d7, #3e779d);
   background: -o-linear-gradient(top, #65a9d7, #3e779d);
   background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
   padding: 0 12px;
   -webkit-border-radius: 19px;
   -moz-border-radius: 19px;
   border-radius: 19px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #7ea4bd 0 1px 0;
   color: #003357;
   font-size: 14px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   margin: 6px;
   outline: none;
   }
.See_Contacts:hover {
   border: 2px solid #0a3c59;
   text-shadow: #1e4158 0 1px 0;
   background: #3e779d;
   background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
   background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
   background: -moz-linear-gradient(top, #65a9d7, #3e779d);
   background: -ms-linear-gradient(top, #65a9d7, #3e779d);
   background: -o-linear-gradient(top, #65a9d7, #3e779d);
   background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
   color: #fff;
   }
.See_Contacts:active {
   text-shadow: #1e4158 0 1px 0;
   border: 2px solid #0a3c59;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#3e779d));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   background-image: -ms-linear-gradient(top, #3e779d 0%, #65a9d7 100%);
   color: #fff;
   outline: none;
   }



#theader{
	height: 30px;
    color: #666467;
    text-align: center;
    font-size: 2.5em;
    padding: 10px;
}

.AddRow{
height: 100%;
width: 100%;
 
}
.AddRoWBox{
	width: 300px;
	margin:10px auto; 
	border:solid 2px grey;
	padding:10px 55px;
	border-radius:10px;
}

.btn_table{
	padding: 10px;
    color: #fff;
    background-color: #009688;
    border-radius: .1rem;
	border: 0px solid transparent;
    transition: .5s;
    cursor: pointer;
	box-shadow: 0 0px 0px 0 rgba(56,38,0,1);
}


.btn_table:hover{
	 background-color: #735a73; 
}
.BtnBox{
	margin-top:10px;
}

.send_mail{
	padding: 6px;
	color: #fff;
    background-color: #009688;
    border-radius: .1rem;
	border: 0px solid transparent;
    transition: .5s;
    cursor: pointer;
	box-shadow: 0 0px 0px 0 rgba(56,38,0,1);
}

.send_mail:hover{
	 background-color: #735a73; 
}

.btnDiv{
	width: 10%;
	display: inline-block;
	text-align: center;
}

img{
	cursor: pointer;
}

.deleteBox{
	position: fixed;
	left: 0; 
	top: 0;
	bottom: 0;
	width: 100%;
	background-color: rgba(224,224,224,0.3);
}
.deletePopUp{
	background: white;
	width: 240px;
	margin: 0 auto;
	line-height: 2;
	margin-top:250px; 
	border: solid 2px #167ec9;
	padding: 5px;
	height: 100px;
	border-radius: 10px;
}

@media (max-width:618px) {
	.btnDiv{
		width: 45%;
	}
}

	
	@media (max-width:866px) {

	.UserTable{
		width:100%;
	}
	
}

@media (max-width:733px) {
	
	#scroll{
		overflow:scroll;
	}

}

@media (max-width:468px) {
#theader{
	height: 30px;
    color: #666467;
    text-align: center;
    font-size: 1.5em;
   
}

@media(max-width:347px){
	#templateSelectBox{
	
	height: 110px;
	padding: 6px;
	}

	#templateSelectBox{
		margin-top: 15px;
	}
	
}

@media(max-width:191px){
	#templateSelectBox{
	
	height: 130px;
	padding: 6px;
	}

	#templateSelectBox{
		margin-top: 15px;
	}
	
}

@media(max-width:384px){
	#maillist{
	
	height: 110px;
	
}

#createMailListBtn{
	margin-top: 15px;
}
}


}